.a1{
    display: flex;
    height: 150px;
    background-color: white;
    width: 600px;
    margin: auto;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin-top: 200px;
}
#account{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
#like{
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-bottom: 30px;
    transition: all 0.2s;
    cursor: pointer;
}
#like:hover{
    scale: 120%;
}
body{
    background: #969696;
    height: 100%;
}
.nick{
    font-size: 20px;
    margin: 0;
}
.comment{
    font-size: 30px;
    margin: 0;
}